!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= "#{content_for?(:title) ? "#{yield(:title)} | " : nil}IR System"

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags

  %body
    = render 'shared/header'
    .main-container
      %p.notice= notice
      %p.alert= alert
      = yield
